html body {
    margin: 0;
    padding: 10px;
}

section {
    text-align: center;
}

.label {
    display: table;
    margin: 5px auto 5px auto;
    border: solid black 4px;
    padding: 5px;
    font-family: 'Montserrat';
    font-size: 20pt;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    box-sizing: border-box;
    width: 200px;
    height: 350px;
    overflow: hidden;
    margin: 10px;
    border: solid black 0px;
    display: inline-block;
}

.container:hover {
    border-width: 4px;
    transition-duration: 300ms;
}
.container:hover > .top {
    height: 75px;
    transition-duration: 500ms;
}
.container:hover span {
    height: 100px;
    outline-width: 4px;
    transition-delay: 200ms;
    transition-duration: 100ms;
}

.top {
    height: 250px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 16pt;
    letter-spacing: 2px;
    display: table;
}

span {
    padding: 5px;
    text-decoration: none;
    color: black;
    display: table-cell;
    vertical-align: middle;
    outline: solid black 0px;
    outline-offset: -40px;
}
span:hover {
    color: white;
    outline-color: white;
}

.triangle {
    border-left: solid 200px transparent;
    border-bottom: solid 100px white;
    box-shadow: 3px 3px 5px #CCC;
}

.description {
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px;
    height: 200px;
    background: white;
}

.blue {
    background: #8DCBE6;
}

.orange {
    background: #E6D48D;
}

.red {
    background: #E68D9E;
}

#chatterbot {
    background-image: url('static/')
}

#chatterbot, #spiff, #elements, #djinni{
    transform: scale(1,1);
    animation-duration: 2s;
}

@keyframes zoom {
    from {transform: scale(1,1);}
    to {transform: scale(10, 10);}
}