body {
    font-family: "Source Sans Pro";
    font-size: 2vmin;
    margin: 0;
    padding: 0;
}

.more {
    z-index: 5;
    padding: 0px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 50px);
    width: 100px;
    text-align: center;
    background-color: white;
    font-size: 3vmin;
    font-weight: 700;
    letter-spacing: 5px;
    animation: 2s fade 2s;
    animation-fill-mode: forwards;
}
.more:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 5px;
    width: 100px;
    margin-left: -50px;
    border-top: solid 5px black;
    background-color: black;
    animation: 2s fade 2s;
    animation-fill-mode: forwards;
}
.more:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px black;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    animation: 2s fade 2s;
    animation-fill-mode: forwards;
}
@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

.notReadyYet {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 100vh;
    visibility: hidden;
}

section {
    margin: 25px;
    padding: 10px 25px 25px 25px;
    border: solid #42BFFB 5px;
}

h1 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 6vmin;
    text-align: center;
    line-height: 50%;
    color: #FFC839;
}

h2 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 5.5vmin;
    text-align: center;
    line-height: 50%;
    color: #FFC839;
}

h3 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 5vmin;
    text-align: center;
    line-height: 50%;
    color: #FFC839;
}

hr {
    background: #42BFFB;
    height: 5px;
    width: 75%;
}

.sig {
    width: 100%;
    text-align: right;
    font-style: italic;
}

.platform {
    margin: 0 auto 0 auto;
    font-size: 2vmin;
    text-align: justify;
    text-indent: 6vmin;
    hyphens: auto;
}

a {
    text-decoration: none;
    border-bottom: solid 2px #42BFFB;
}
a:hover{
    background-color: #42BFFB;
    border-bottom-width: 2px;
}

@media all and (orientation:portrait) {
    img {
        width: 100vw;
    }
    .platform {
        width: 100%;
    }
    .landscapeFuture {
        display: none;
    }
    .portraitFuture {
        display: inherit;
    }
}

@media all and (orientation:landscape){
    .container {
        display: flex;
        height: 100vh;
    }
    
    .main{
        position: relative;
    }
    .main:after {
        content: '';
        position: absolute;
        left: -70px;
        top: 175px;
        border-right: solid 40px white;
        border-top: solid 40px transparent;
        border-bottom: solid 40px transparent;
    }
    
    .platform {
        width: 90%;
        order: 2;
        height: 85%;
        overflow-y: auto;
        padding-right: 50px;
    }
    
    img {
        height: 100vh;
        order: -1;
    }
    
    #past {
        columns: 45vw;
        text-align: justify;
    }

    #past div {
        padding-top: 5px;
        break-inside: avoid;
    }
    
    .landscapeFuture {
        display: inherit;
    }
    .portraitFuture {
        display: none;
    }
}