html {
    height: 100%;
}

body {
    font-family: "Open Sans";
    margin: 0;
    height: 100%;
}

.giant {
    font-size: 6vw;
    font-family: "calibri", "open sans";
}
.engraved {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    font-size: large;
    font-weight: 800;
}
.titled {
    border-bottom: 1px black dashed;
}

#tooltip {
    position: fixed;
    top: 15px;
    right: 20%;
    width: 300px;
    background: #8DCBE6;
    padding: 15px;
    text-align: center;
    font-family: "arvo";
    font-weight: 800;
    -webkit-animation: slideUp 2s;
    -webkit-animation-delay: 5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease;
}
#tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 25px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #8DCBE6;
}
#tooltip:after {
    content: "";
    position: absolute;
    right: 100%;
    top: calc(50% - 10px);
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 20px solid #8DCBE6;
}

@-webkit-keyframes slideUp {
    from {top: 15px;}
    to {top: -200px;}
}

#home {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #8DCBE6;
    border-radius: 2px 10px 2px 2px;
    border: 5px solid #8DCBE6;
    font-family: "Arvo";
    font-weight: 800;
    color: black;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#home:hover {
    background-color: white;
    text-decoration: overline;
}

#periodict {
    border-collapse: collapse;
    text-align: center;
    border-radius: 25px;
    position: relative;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}

#periodict:before,
#periodict:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 100px / 10px;
}

#periodict td {
    border: black solid 1px !important;
    padding: 10px 5px 10px 5px;
    font-family: "Source Sans Pro";
}
#periodic tr:not(#group) {
    height: 10vh;
}
tr:first-of-type {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    font-size: large;
    font-weight: 800;
}
table#periodict tr td:first-child {
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    font-size: large;
    font-weight: 800;
}

#group {
    height: 0;
}

td span.larger {
    font-family: "Arvo";
    font-weight: bold;
}

.guide div {
    display: inline;
    vertical-align: middle;
}
.thickl {
    border-left: black solid 4px !important;
}
.thickr {
    border-right: black solid 4px !important;
}
.thickt {
    border-top: black solid 4px !important;
}
.lefta {
    text-align: left !important;
}
.tright {
    position: absolute;
    top: 0%;
    right: 0;
    font-size: smaller;
}

.elink {
    color: black;
    padding: 0px 0px 5px 0px;
    text-decoration: none;
    border-bottom: black solid 3px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.elink:hover {
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.ractive {
    background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(0,0,0,0.1) 5px, rgba(0,0,0,.1) 10px);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0,0,0,0.1) 5px, rgba(0,0,0,.1) 10px);
    background-color: white;
}
.diatomic {
    background-color: #FFD300;
    border-color: #FFD300 !important;
}
tr.diatomic {
    background-color: rgba(255, 211, 0, 0.5);
}
.dia {
    color: #FFD300;
    display: block;
    text-align: center;
}
tr.dia {
    background-color: rgba(255, 211, 0, 0.5);
}
.noble {
    background-color: #B5B5B5;
    border-color: #B5B5B5 !important;
}
tr.noble {
    background-color: rgba(181, 181, 181, 0.5);
}
.alkali {
    background-color: #F88379;
    border-color: #F88379 !important;
}
tr.alkali {
    background-color: rgba(248, 131, 121, 0.5);
}
.aEarth {
    background-color: #F8C278;
    border-color: #F8C278 !important;
}
tr.aEarth {
    background-color: rgba(248, 194, 120, 0.5);
}
.metalloid {
    background-color: #AEF877;
    border-color: #AEF877 !important;
}
tr.metalloid {
    background-color: rgba(174, 248, 119, 0.5);
}
.polyatomic {
    background-color: #EEF877;
    border-color: #EEF877 !important;
}
tr.polyatomic {
    background-color: rgba(238, 248, 119, 0.5);
}
.poor {
    background-color: #CCC;
    border-color: #CCC !important;
}
tr.poor {
    background-color: rgba(204, 204, 204, 0.5);
}
.transition {
    background-color: #FF91A4;
    border-color: #FF91A4 !important;
}
tr.transition {
    background-color: rgba(255, 145, 164, 0.5);
}
.lanth {
    background-color: #78EEF8;
    border-color: #78EEF8 !important;
}
tr.lanth {
    background-color: rgba(120, 238, 248, 0.5);
}
.act {
    background-color: #78F8C2;
    border-color: #78F8C2 !important;
}
tr.act {
    background-color: rgba(120, 248, 194, 0.5);
}
.unknown {
    background-color: lightslategray;
    border-color: lightslategray !important;
}
tr.unknown {
    background-color: rgba(112, 128, 144, 0.5);
}

#element {
    position: fixed;
    top: 50%;
    left: 20%;
    right: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: #888 2px 2px 6px;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
    z-index: 2;
    display: none;
    text-align: center;
}

#elementClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    margin: 10px;
    border: 3px solid;
    border-radius: 0 5px 0 5px;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
#elementClose:hover {
    background-color: transparent;
    cursor: pointer;
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.unblur {
    -webkit-filter: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#elementPicCont {
    float: left;
    width: calc(49% - 40px);
    width: -webkit-calc(49% - 40px);
    margin-right: 2%;
    padding: 20px;
    text-align: center;
    background: white;
    position: relative;
    border-radius: 5px;
}

#elementPicCont:before,
#elementPicCont:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px / 100px;
}

#elementPicCont i {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Source Sans Pro";
    font-weight: 400;
}
#elementPic {
    width: calc(100% - 4px);
    border: 2px solid;
    border-color: #AAA #CCC #CCC #AAA;
}
:not(#elementPicCont) > i {
    font-size: .9em;
    font-style: normal;
}

.caption {
    display: block;
    text-align: center;
    font-family: "Arvo";
}
.caption:nth-of-type(2) {
    margin-top: 10px;
}
.trivia {
    float:left;
    width: 50%;
}

#elementTab {
    border-collapse: collapse;
    width: 49%;
    text-align: left;
}
#elementTab tr {
    font-weight: 400;
}
#elementTab td {
    padding-left: 10px;
}
.filled {
    background-color: #ADD8E6;
    font-weight: 300 !important;
}

#hydrogen:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Nursery_of_New_Stars_-_GPN-2000-000972.jpg/225px-Nursery_of_New_Stars_-_GPN-2000-000972.jpg') no-repeat center center;
}

#helium:not(span):hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/HeTube.jpg/240px-HeTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#lithium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flammenf%C3%A4rbungLi.png/211px-Flammenf%C3%A4rbungLi.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#beryllium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/27/Beryl-130023.jpg') no-repeat center center;
    background-size: cover;
}

#boron:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Borax_crystals.jpg/307px-Borax_crystals.jpg') no-repeat center center;
    background-size: cover;
}

#carbon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/Rough_diamond.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#nitrogen:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Liquidnitrogen.jpg/240px-Liquidnitrogen.jpg') no-repeat center center;
    background-size: cover;
}

#oxygen:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Wisoff_on_the_Arm_-_GPN-2000-001069.jpg/239px-Wisoff_on_the_Arm_-_GPN-2000-001069.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#fluorine:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/PET-MIPS-anim.gif/398px-PET-MIPS-anim.gif') no-repeat center center;
    background-size: cover;
    color: white;
}

#neon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/NeTube.jpg/480px-NeTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#sodium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Flametest--Na.swn.jpg/360px-Flametest--Na.swn.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#magnesium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/0/0d/Magnesium_Sparks.jpg') no-repeat center center;
    background-size: cover;
}

#aluminium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Eros-piccadilly-circus.jpg/404px-Eros-piccadilly-circus.jpg') no-repeat center center;
    background-size: cover;
}

#silicon:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Radiolaria3434.JPG/320px-Radiolaria3434.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#phosphorus:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/a/a9/Phosphorus_explosion.gif') no-repeat center center;
    background-size: cover;
    color: white;
}

#sulfur:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Io_highest_resolution_true_color.jpg/480px-Io_highest_resolution_true_color.jpg') no-repeat center center;
    background-size: cover;
}

#chlorine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Liquid_chlorine_in_flask.jpg/228px-Liquid_chlorine_in_flask.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#argon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/ArTube.jpg/480px-ArTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#potassium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Flammenf%C3%A4rbungK.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#calcium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/500_mg_calcium_supplements_with_vitamin_D.jpg/320px-500_mg_calcium_supplements_with_vitamin_D.jpg') no-repeat center center;
}

#scandium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Mig-29_on_landing.jpg/320px-Mig-29_on_landing.jpg') no-repeat center center;
    background-size: cover;
}

#titanium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Hochreines_Titan_%2899.999%29_mit_sichtbarer_Kristallstruktur.jpg/320px-Hochreines_Titan_%2899.999%29_mit_sichtbarer_Kristallstruktur.jpg') no-repeat center center;
    color: white;
}

#vanadium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bluebell_tunicates_Nick_Hobgood.jpg/300px-Bluebell_tunicates_Nick_Hobgood.jpg') no-repeat center center;
    color: white;
}

#chromium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Cut_Ruby.jpg') no-repeat center center;
    background-size: cover;
}

#manganese:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/1e/Lascaux_painting.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iron:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Widmanstatten_hand.jpg/320px-Widmanstatten_hand.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#cobalt:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Early_blue_and_white_ware_circa_1335_Jingdezhen.jpg/193px-Early_blue_and_white_ware_circa_1335_Jingdezhen.jpg') no-repeat center center;
    background-size: cover;
}

#nickel:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/10/Nickel2.jpg') no-repeat center center;
    background-size: cover;
}

#copper:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Royal_Observatory_Edinburgh_East_Tower_2010_cropped.jpg/320px-Royal_Observatory_Edinburgh_East_Tower_2010_cropped.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#zinc:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Macrostructure_of_rolled_and_annealed_brass%3B_magnification_400X.jpg/320px-Macrostructure_of_rolled_and_annealed_brass%3B_magnification_400X.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#gallium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Blue_LED_and_Reflection.jpg/320px-Blue_LED_and_Reflection.jpg') no-repeat center center;
    color: white;
}

#germanium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Pet_Flasche.JPG/319px-Pet_Flasche.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#arsenic:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/6/68/The_Arsenic_Labyrinth_at_Botallack_Mine_-_geograph.org.uk_-_490315.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#selenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Selenium_native.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bromine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/STS028-96-65.jpg/235px-STS028-96-65.jpg') no-repeat center center;
    color: white;
}

#krypton:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/KrTube.jpg/480px-KrTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rubidium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Die_Flammenf%C3%A4rbung_des_Rubidium.jpg/180px-Die_Flammenf%C3%A4rbung_des_Rubidium.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#strontium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Viewsonic-crt.png/255px-Viewsonic-crt.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#yttrium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Aperture_Grille.jpg') no-repeat center center;
    color: white;
}

#zirconium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d3/Zirconium_rod.jpg') no-repeat center center;
    background-size: cover;
}

#niobium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Apollo_CSM_lunar_orbit.jpg/303px-Apollo_CSM_lunar_orbit.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#molybdenum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Molly_Hill_molybdenite.JPG/320px-Molly_Hill_molybdenite.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#technetium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Uraniumore.jpg/320px-Uraniumore.jpg') no-repeat center center;
    background-size: cover;
}

#ruthenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Ruthenium_a_half_bar.jpg/320px-Ruthenium_a_half_bar.jpg') no-repeat center center;
    background-size: cover;
}

#rhodium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/7a/Aufgeschnittener_Metall_Katalysator_f%C3%BCr_ein_Auto.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#palladium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/25_rubles_palladium_1989_Ivan_III.jpg/320px-25_rubles_palladium_1989_Ivan_III.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#silver:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Iranian_-_Shallow_Vessel_-_Walters_571816.jpg/221px-Iranian_-_Shallow_Vessel_-_Walters_571816.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#cadmium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/4/41/NiCd_various.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#indium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Indium_wire.jpg/320px-Indium_wire.jpg') no-repeat center center;
    background-size: cover;
}

#tin:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Candlestick_made_of_Tin_by_Royal_Selangor.JPG/320px-Candlestick_made_of_Tin_by_Royal_Selangor.JPG') no-repeat center center;
    background-size: cover;
}

#antimony:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Stibnite.jpg/320px-Stibnite.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tellurium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/NREL_Array.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iodine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/84/IodoAtomico.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#xenon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/50/Xenon-flash.gif') no-repeat center center;
    background-size: cover;
}

#caesium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Pollucite-RoyalOntarioMuseum-Jan18-09.jpg/320px-Pollucite-RoyalOntarioMuseum-Jan18-09.jpg') no-repeat center center;
    background-size: cover;
}

#barium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/2006_Fireworks_1.JPG/230px-2006_Fireworks_1.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#hafnium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Apollo_AS11-40-5866.jpg/238px-Apollo_AS11-40-5866.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tantalum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Tantalite.jpg/265px-Tantalite.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tungsten:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Gl%C3%BChwedel_brennt_durch.jpg/160px-Gl%C3%BChwedel_brennt_durch.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rhenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/CFM56_P1220759.jpg/320px-CFM56_P1220759.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#osmium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Osmium_cluster.jpg/261px-Osmium_cluster.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iridium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Fountain-pen-nib.jpg/320px-Fountain-pen-nib.jpg') no-repeat center center;
    background-size: cover;
}

#platinum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Platin_loest_sich_in_heissem_Koenigswasser.JPG/320px-Platin_loest_sich_in_heissem_Koenigswasser.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#gold:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Tuthankhamun_Egyptian_Museum.jpg/166px-Tuthankhamun_Egyptian_Museum.jpg') no-repeat center center;
    color: white;
}

#mercury:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d0/Maximum_thermometer_close_up_2.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#thallium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Hutchinsonite-131710.jpg') no-repeat center center;
    color: white;
}

#lead:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/9/92/Calcite-Galena-elm56c.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bismuth:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Bismuthvanadat.jpg/220px-Bismuthvanadat.jpg') no-repeat center center;
    color: white;
}

#polonium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/Fat_man.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#astatine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Mendelejevs_periodiska_system_1871.png') no-repeat center center;
    background-size: cover;
}

#radon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/en/a/a5/Radon.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#francium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/en/9/92/Fr%2C87.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#radium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Radium-paint.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rutherfordium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Ernest_Rutherford2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#dubnium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Bundesarchiv_Bild_183-46019-0001%2C_Otto_Hahn.jpg/147px-Bundesarchiv_Bild_183-46019-0001%2C_Otto_Hahn.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#seaborgium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Glenn_Seaborg_-_1964.jpg/194px-Glenn_Seaborg_-_1964.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bohrium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Niels_Bohr.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#hassium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Deutschland_Lage_von_Hessen.svg/177px-Deutschland_Lage_von_Hessen.svg.png') no-repeat center center;
    background-size: cover;
}

#meitnerium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lise_Meitner_%281878-1968%29%2C_lecturing_at_Catholic_University%2C_Washington%2C_D.C.%2C_1946.jpg/164px-Lise_Meitner_%281878-1968%29%2C_lecturing_at_Catholic_University%2C_Washington%2C_D.C.%2C_1946.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#darmstadtium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Hessen_DA.png/181px-Hessen_DA.png') no-repeat center center;
    background-size: cover;
}

#roentgenium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Roentgen2.jpg/200px-Roentgen2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#copernicium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Nikolaus_Kopernikus.jpg/159px-Nikolaus_Kopernikus.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#ununtrium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Riken_HQ_Main_Research_Building.jpg/250px-Riken_HQ_Main_Research_Building.jpg') no-repeat center center;
    background-size: cover;
}

#flerovium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/76/RUSMARKA-1660.jpg/220px-RUSMARKA-1660.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#ununpentium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/22/DOE-2013194-SIMULATION_OF_AN_ACCELERATED_CALCIUM-43_ION_AND_AN_AMERICIUM-243_TARGET_ATOM_JUST_BEFORE_THEY_COLLIDE.jpg/220px-DOE-2013194-SIMULATION_OF_AN_ACCELERATED_CALCIUM-43_ION_AND_AN_AMERICIUM-243_TARGET_ATOM_JUST_BEFORE_THEY_COLLIDE.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#livermorium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/LLNL_Aerial_View.jpg/220px-LLNL_Aerial_View.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#ununseptium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Berkelium.jpg/225px-Berkelium.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#ununoctium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Electron_shell_118_ununoctium.png/219px-Electron_shell_118_ununoctium.png') no-repeat center center;
    background-size: cover;
}

#lanthanum:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Glowing_gas_mantle.jpg/220px-Glowing_gas_mantle.jpg') no-repeat center center;
    background-size: cover;
}

#cerium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Cer%28IV%29-sulfat.JPG/200px-Cer%28IV%29-sulfat.JPG') no-repeat center center;
    background-size: cover;
}

#praseodymium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Praseodymium-glass.jpg/220px-Praseodymium-glass.jpg') no-repeat center center;
    background-size: cover;
}

#neodymium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Neodymium-glass.jpg/220px-Neodymium-glass.jpg') no-repeat center center;
    background-size: cover;
}

#promethium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Pitchblende_schlema-alberoda.JPG/220px-Pitchblende_schlema-alberoda.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#samarium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Samarium-sulfate.jpg/170px-Samarium-sulfate.jpg') no-repeat center center;
    background-size: cover;
}

#europium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Eu-sulfate-luminescence.jpg/200px-Eu-sulfate-luminescence.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}