@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabMedium.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabMediumIt.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBook.otf');
    font-weight: 300;
    font-style: noraml;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBookIt.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBoldIt.otf');
    font-weight: 700;
    font-style: italic;
}

body {
    margin: 0;
    padding-top: 50px;
    font-family: 'Klinic Slab';
    background-color: #FDF5E6;
    font-size: 12pt;
}

a {
    color: black;
}
a:hover{
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background: black;
}

p {
    text-indent: 20px;
}

.main {
    width: 50rem;
    margin: 0 auto;
    padding: 20px;
    border: solid #CCC 1px;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16pt;
}

.about > p {
    font-family: "Source Sans Pro";
    font-size: 12pt;
}

.heading {
    font-size: 16pt;
    display: inline-block;
    font-variant: small-caps;
    letter-spacing: 1px;;
}

.top-margin {
    margin-top: 20px;
}

.larger {
    font-size: larger;
}

.bold {
    font-weight: 700;
}

.book {
    font-weight: 300;
}

.underlined {
    text-decoration: underline;
}

.bar {
    position: relative;
    background-color: #8DCBE6;
    margin: 0 -21px 25px -21px;
    font-size: 64pt;
    font-variant: small-caps;
}
.bar:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -72px;
    left: -100%;
    z-index: -1;
    background-color: #8DCBE6;
    border-top: 100px solid #8DCBE6;
    border-right: 50px solid #FDF5E6;
}

.project {
    position: relative;
    width: 200px;
    height: 70px;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 32pt;
    font-weight: 700;
    background: -webkit-linear-gradient(left, #8DCBE6 50%,#4297BD 50%);
    background-size: 200% 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.project:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 1;
    border-top: 90px solid #8DCBE6;
    border-right: 50px solid transparent;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.project:hover:before {
    border-top: 90px solid #4297BD;
}
.project:hover {
    background-color: #4297BD;
    background-position: -100% 0%;
    color: white;
}

.spiff:after {
    content: "The one, the only, the (S)emantic (P)resentable (I)nformation (F)inder. It began life in Java, was translated to Python, and I got sick of the thing by JavaScript.";
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 12pt;
    font-weight: 300;
    width: 0;
    height: 70px;
    background-color: #8DCBE6;
    color: black;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.spiff:hover:after {
    width: 200%;
    padding: 10px 10px 10px 60px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.elements:after {
    content: "An Interactive and easy to use periodic table of the elements, featuring images and facts about each element.";
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 12pt;
    font-weight: 300;
    width: 0%;
    height: 70px;
    background-color: #8DCBE6;
    color: black;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.elements:hover:after {
    width: 200%;
    padding: 10px 10px 10px 60px;
}

.classes:after {
    content: "A tool made to help players organize their party in the Golden Sun video game series.";
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 12pt;
    font-weight: 300;
    width: 0%;
    height: 70px;
    background-color: #8DCBE6;
    color: black;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.classes:hover:after {
    width: 200%;
    padding: 10px 10px 10px 60px;
}

.tnine:after {
    content: "A small game made specifically to waste time while offering a modicum of enjoyment.";
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 12pt;
    font-weight: 300;
    width: 0%;
    height: 70px;
    background-color: #8DCBE6;
    color: black;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.tnine:hover:after {
    width: 200%;
    padding: 10px 10px 10px 60px;
}

.chatterbot:after {
    content: "An experimental chatter-bot and text-to-speech engine featuring yours truly.";
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 12pt;
    font-weight: 300;
    width: 0%;
    height: 70px;
    background-color: #8DCBE6;
    color: black;
    text-align: justify;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.chatterbot:hover:after {
    width: 200%;
    padding: 10px 10px 10px 60px;
}
/*body {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}

section {
    margin: 25px;
    padding: 25px;
    border: solid black 5px;
}

h1 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 3vmax;
    text-align: center;
    line-height: 50%;
}

hr {
    background: black;
    height: 5px;
    width: 75%;
}

.sig {
    width: 100%;
    text-align: right;
    font-style: italic;
}

.platform {
    margin: 0 auto 0 auto;
    font-size: 2vmin;
    text-align: justify;
    text-indent: 3vmax;
    hyphens: auto;
}

a {
    text-decoration: none;
    border-bottom: solid 2px deepskyblue;
}
a:hover{
    background-color: lightskyblue;
    border-bottom-width: 2px;
}

@media all and (orientation:portrait) {
    img {
        width: 100vw;
    }
    .platform {
        width: 100%;
    }
}

@media all and (orientation:landscape){
    .container {
        display: flex;
    }
    
    .platform {
        width: 75%;
    }
    
    img {
        height: 100vh;
    }
    section {
        width: 100%;
    }
}*/