html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: source-sans-pro;
    z-index: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.play, .playAgain {
    background: deepskyblue;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 20vh;
    font-weight: bold;
    text-align: center;
    padding-top: 20vh;
}

.grid > div{
    font-family: cabin;
}

@media all and (orientation:landscape) {
    .game {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
    }
    
    .grid {
        display: flex;
        flex-flow: row wrap;
        border: 3px solid black;
        width: 100vh;
    }
    
    .grid > div {
        flex-grow: 1;
        flex-shrink: 1;
        border: 3px solid black;
        background: white;
        width: 30vh;
        line-height: 30vh;
        text-align: center;
        font-size: 20vh;
    }
    
    .info {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        font-size: 3vw;
        text-align: center;
    }
    
    .info > div:nth-child(-n+3) {
        height: 15vh;
        line-height: 15vh;
    }
    
    .lives {
        background: red;
    }
    
    .stats {
        background: orange;
    }
    
    .timer {
        background: #D6F900;
    }
    
    .instruction {
        padding: 20px;
        box-sizing: border-box;
        background: #0C5FB6;
        height: 55vh;
    }
}

@media all and (orientation:portrait) {
    .game {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .grid {
        display: flex;
        flex-flow: row wrap;
        border: 3px solid black;
    }

    .grid > div {
        flex-grow: 1;
        flex-shrink: 1;
        border: 3px solid black;
        background: white;
        width: 30vw;
        height: 30vw;
        line-height: 30vw;
        text-align: center;
        font-size: 20vw;
    }
    
    .info {
        display: flex;
        flex-flow: row wrap;
    }
    
    .info > div {
        flex-grow: 1;
        text-align: center;
        font-size: 3vh;
    }
    
    .info > div:nth-child(-n+3) {
        width: 20vw;
        height: 10vh;
        line-height: 10vh;
    }
    
    .lives {
        background: red;
    }
    
    .stats {
        background: orange;
    }
    
    .timer {
        background: #D6F900;
    }
    
    .instruction {
        background: #0C5FB6;
        width: 90vw;
        height: 40vh;
        line-height: 40vh;
    }
    img {
        max-width: 75%;
    }
}

.clickCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vmax;
    height: 20vmax;
    background: limegreen;
    z-index: 3;
    border-radius: 100%;
}

.restart {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    font-size: 10vmax;
    color: black;
    line-height: 1;
    transform: rotate(90deg);
}
.restart:hover {
    color: white;
}