@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabMedium.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabMediumIt.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabBook.otf');
    font-weight: 300;
    font-style: noraml;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabBookIt.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('http://addisonlr.bitbucket.org/static/KlinicSlabBoldIt.otf');
    font-weight: 700;
    font-style: italic;
}

.book {
    font-weight: 300;
}

.larger {
    font-size: 64pt;
}

.bold {
    font-weight: 700;
}

.bar {
    position: relative;
    margin: 0 -26px 25px -26px;
    background-color: #8DCBE6;
    font-family: "Klinic Slab";
}
.bar:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -77px;
    left: -100%;
    z-index: -1;
    background-color: #8DCBE6;
    border-top: 100px solid #8DCBE6;
    border-right: 50px solid #FDF5E6;
}

.player {
    width: calc(25% - 21px);
    float: left;
    padding: 10px;
    box-shadow: 1px 0 0 0, 0 1px 0 0, 1px 1px 0 0, 1px 0 0 0 inset, 0 1px 0 0 inset;
}

.char_info {
    margin: -9px -9px 0 -9px;
    width: calc(100% + 19px);
    height: 125px;
    text-align: right;
    font-size: larger;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
}
.one {
    background-image: url('static/isaac.jpg');
}
.two {
    background-image: url('static/garet.jpg');
}
.three {
    background-image: url('static/ivan.jpg');
}
.four {
    background-image: url('static/mia.jpg');
}

.instruction {
    font-weight: 700;
}

.strech {
    width: calc(25% - 3px);
    display: inline-block;
}
.disabled {
    color: #999;
}
.disabled:hover {
    border-color: #CCC;
    border-left: solid #CCC 9px;
    background-color: lightgray;
}

body {
    margin: 50px 0 50px 0;
    padding: 0;
    background: #FDF5E6;
    font-family: "Source Sans Pro";
}

hr {
    border: 0;
    margin: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333 25%, #333 75%, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
}

select {
    width: 100%;
    font-family: "Source Sans Pro";
    font-size: larger;
}
label {
    display: block;
    padding: 8px;
}
label:hover {
    border-color: #8DCBE6;
    border-left: solid #8DCBE6 9px;
    margin: 0 -10px 0 -9px;
    background-color: lightblue;
}

#main {
    width: 65rem;
    margin: auto;
    padding: 25px 25px 25px 25px;
    background: white;
    border: solid #CCC 1px;
}

/*#radios {
    text-align: center;
    margin-bottom: 10px;
}
#radios:before {
    content: "Please select a game:";
    font-weight: 700;
}*/