@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabMedium.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabMediumIt.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBook.otf');
    font-weight: 300;
    font-style: noraml;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBookIt.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('static/KlinicSlabBoldIt.otf');
    font-weight: 700;
    font-style: italic;
}