body {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}

section {
    margin: 25px;
    padding: 25px;
    border: solid black 5px;
}

h1 {
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 3vmax;
    text-align: center;
    line-height: 50%;
}

hr {
    background: black;
    height: 5px;
    width: 75%;
}

.sig {
    width: 100%;
    text-align: right;
    font-style: italic;
}

.platform {
    margin: 0 auto 0 auto;
    font-size: 2vmin;
    text-align: justify;
    text-indent: 3vmax;
    hyphens: auto;
}

a {
    text-decoration: none;
    border-bottom: solid 2px deepskyblue;
}
a:hover{
    background-color: lightskyblue;
    border-bottom-width: 2px;
}

@media all and (orientation:portrait) {
    img {
        width: 100vw;
    }
    .platform {
        width: 100%;
    }
}

@media all and (orientation:landscape){
    .container {
        display: flex;
    }
    
    .platform {
        width: 75%;
    }
    
    img {
        height: 100vh;
    }
    section {
        width: 100%;
    }
}