.pagination {
	position: relative;
    top: -16.5px;
    z-index: 2;
}

.pagination-navigation {
	position: relative;
	text-align: center;
    font-size: 0;
	-webkit-filter: url("#goo");
	filter: url("T9.html#goo");
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.pagination-dot,
.pagination-current {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 0;
	line-height: 50px;
	background: #D52100;
	border-radius: 50%;
	margin: 0 13px;
	border: none;
	outline: none;
	font-size: 40px;
	color: #fff;
    z-index: 5;
}

.play {
    background-color: #D52100;
}

.leaderboard {
    background-color: #FF8300;
}

.help {
    background-color: #006485;
}

.pagination-number {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.pagination-current {
	position: absolute;
	left: 0;
	top: 0;
}

.pagination-content {
	height: 300px;
}

.pagination-item {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	font-size: 0;
	border-radius: 5px;
	border: 7px solid #fff;
}

.pagination-item img {
	position: relative;
}
