html {
    font-family: 'Source Sans Pro';
    text-align: center;
    background-image: -webkit-linear-gradient(45deg, #31C9FC, #31C9FC 12.495%, #00BFFF 12.495%, #00BFFF 37.495%, #31C9FC 37.495%, #31C9FC 62.495%, #00BFFF 62.495%, #00BFFF 87.495%, #31C9FC 87.495%, #31C9FC 100%);
    background-image: linear-gradient(45deg, #31C9FC, #31C9FC 12.495%, #00BFFF 12.495%, #00BFFF 37.495%, #31C9FC 37.495%, #31C9FC 62.495%, #00BFFF 62.495%, #00BFFF 87.495%, #31C9FC 87.495%, #31C9FC 100%);
    background-size: 20px 20px;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    z-index: 0;
}

audio {
    display: none;
}

.startOverlay {
    position: absolute; 
    height: 100%;
    width: 100%;
    font-size: 24pt;
    color: #CCC;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    line-height: 200px;
    z-index: 50;
}

.endGame {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    
    font-size: 7vh;
    color: white;
    text-shadow: 3px 3px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    background-image: -webkit-linear-gradient(45deg, transparent, transparent 12.495%, #CCC 12.495%, #CCC 37.495%, transparent 37.495%, transparent 62.495%, #CCC 62.495%, #CCC 87.495%, transparent 87.495%, transparent 100%);
    background-image: linear-gradient(45deg, transparent, transparent 12.495%, #CCC 12.495%, #CCC 37.495%, transparent 37.495%, transparent 62.495%, #CCC 62.495%, #CCC 87.495%, transparent 87.495%, transparent 100%);
    background-size: 20px 20px;
    z-index: 0;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1;
    box-shadow: 1px 1px 10px 1px #333;
}

.title {
    padding: 5px;
    font-family: stint-ultra-expanded;
    font-size: 5vh;
    font-weight: bold;
    letter-spacing: 3px;    background-color: #FFB400;
    box-shadow: 0 2px 2px #B27E00;
    z-index: 2;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 25px;
    z-index: 1;
}

.cell {
    width: 33%;
    font-size: 10vh;
}

.meta {
    text-align: left;
    margin-top: -40px;
    padding: 20px;
    font-size: 3vh;
    line-height: 250%;
    color: white;
    background-color: #FF2800;
    z-index: 3;
}

.lives {
    letter-spacing: 10px;
    float: right;
}

.about {
    display: none;
    font-size: 2vmin;
    color: white;
    text-indent: 25px;
    text-align: justify;
    background-color: #0084B0;
    margin-top: -40px;
    padding: 30px 10px;
    z-index: 3;
}

@media screen and (max-aspect-ratio: 9/16) {
    .game,
    .endGame {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    
    .title {
        font-size: 7vh;
    }
}