body {
    background-color: #F6F4F0;
    margin: 0;
    font-family: "Quattrocento";
    overflow-x: hidden;
}

#loading {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
}

@-webkit-keyframes load {
    0% {
        background: red;
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        background: yellow;
        -webkit-transform: translate(50px, 0px) rotate(90deg);
    }
    50% {
        background: blue;
        -webkit-transform: translate(50px, 50px) rotate(180deg);
    }
    75% {
        background: green;
        -webkit-transform: translate(0px, 50px) rotate(270deg);
    }
    100% {
        bakcground: red;
        -webkit-transform: translate(0px, 0px) rotate(360deg);
    }
}

@keyframes load {
    0% {
        background: red;
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        background: blue;
        transform: translate(50px, 0px) rotate(90deg);
    }
    50% {
        background: yellow;
        transform: translate(50px, 50px) rotate(180deg);
    }
    75% {
        background: green;
        transform: translate(0px, 50px) rotate(270deg);
    }
    100% {
        bakcground: red;
        transform: translate(0px, 0px) rotate(360deg);
    }
}

#navbar {
    background-color: #9ACEFE;
    width: 100%;
    padding: 10px;
    max-height: 10%;
    overflow: visible;
    font-size: 1.2em;
}
#navbar sub, sup {
    font-size: 1.2em;
}

#openOverlay {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    font-family: 'Open Sans';
    font-size: 12pt;
}

#interface {
    text-align: center;
}

#inputQuestion {
    width: 60%;
    font-size: 1.1em;
    white-space: pre-line;
}

#features {
    border-style: none;
    font-family: 'Open Sans';
    font-size: 12pt;
    background-color: #5DD0C0;
}

#featureList {
    width: 65%;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    font-family: 'Open Sans';
    background-color: white;
    box-shadow: 2px 2px 6px #888888;
    border-radius: 5px;
}

#overlay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: black;
    opacity: .5;
}
#overlayContent {
    position: absolute;
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 50px;
    display: none;
    font-family: "Quattrocento";
}

#x {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 1.125em;
}

#board {
    text-align: center;
}

#tab {
    border: none;
    width: 75%;
    margin: 0px auto;
    padding: 25px;
}

#tictactoe {
    display: inline-block;
    margin: 0px auto;
    font-size: 5em;
}

#blank {
    box-shadow: 2px 2px 6px #888888;
}

#answer {
    width: 90%;
    max-height: 30%;
    background-color: #FFFFFF;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 20px;
    white-space: pre-line;
    text-align: left;
    font-family: "Open Sans", "Arial";
    font-weight:300;
    font-size: 1.125em;
    box-shadow: 2px 2px 6px #888888;
    border-radius: 5px;
    word-wrap: break-word;
    display: inline-block;
}

#learning {
    text-align: center;
}

#learnstyle {
    width: 75%;
    margin: auto;
}

#learnbstyle button {
    border-style: none;
    font-family: 'Open Sans';
    font-size: 12pt;
    background-color: #5DD0C0;
}

#learnbstyle {
    text-align: left;
}

#recognizer {
    margin-right: 10px;
    border: solid 2px;
    float: left;
}

#classifications td {
    background: white;
    border-collapse: collapse;
    border: black solid 1px;
}

#result {
    background: white;
    margin: 15px;
    border: 1px solid #CCC;
    padding: 20px;
    text-align: left;
    font-family: "Open Sans", "Arial";
    font-weight:300;
    font-size: 1.125em;
    box-shadow: 2px 2px 6px #888888;
    border-radius: 5px;
    word-wrap: break-word;
}

.ampersand {
    font-size: 1.5em;
}

#tictactoe {
    display: none;
    font-size: 16px;
}
table.tictactoe {
    width: 300px;
    height: 300px;
    margin: auto auto;
    border-collapse: collapse;
}
.tictactoe tr {
    height: 33%;
}
.tictactoe td {
    width: 33%;
    border: 1px solid #CCC;
    font-size: 75px;
    text-align: center;
}
#tictactoecontainer {
    width: 300px;
    margin: 10px auto;
    text-align: center;
}
#tictactoemessage {
    font-weight: bold;
    margin-top: 20px;
}
