#hydrogen:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Nursery_of_New_Stars_-_GPN-2000-000972.jpg/225px-Nursery_of_New_Stars_-_GPN-2000-000972.jpg') no-repeat center center;
}

#helium:not(span):hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/HeTube.jpg/240px-HeTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#lithium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flammenf%C3%A4rbungLi.png/211px-Flammenf%C3%A4rbungLi.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#beryllium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/2/27/Beryl-130023.jpg') no-repeat center center;
    background-size: cover;
}

#boron:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Borax_crystals.jpg/307px-Borax_crystals.jpg') no-repeat center center;
    background-size: cover;
}

#carbon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/Rough_diamond.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#nitrogen:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Liquidnitrogen.jpg/240px-Liquidnitrogen.jpg') no-repeat center center;
    background-size: cover;
}

#oxygen:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Wisoff_on_the_Arm_-_GPN-2000-001069.jpg/239px-Wisoff_on_the_Arm_-_GPN-2000-001069.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#fluorine:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/PET-MIPS-anim.gif/398px-PET-MIPS-anim.gif') no-repeat center center;
    background-size: cover;
    color: white;
}

#neon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/NeTube.jpg/480px-NeTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#sodium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Flametest--Na.swn.jpg/360px-Flametest--Na.swn.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#magnesium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/0/0d/Magnesium_Sparks.jpg') no-repeat center center;
    background-size: cover;
}

#aluminium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Eros-piccadilly-circus.jpg/404px-Eros-piccadilly-circus.jpg') no-repeat center center;
    background-size: cover;
}

#silicon:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Radiolaria3434.JPG/320px-Radiolaria3434.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#phosphorus:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/a/a9/Phosphorus_explosion.gif') no-repeat center center;
    background-size: cover;
    color: white;
}

#sulfur:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Io_highest_resolution_true_color.jpg/480px-Io_highest_resolution_true_color.jpg') no-repeat center center;
    background-size: cover;
}

#chlorine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Liquid_chlorine_in_flask.jpg/228px-Liquid_chlorine_in_flask.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#argon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/ArTube.jpg/480px-ArTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#potassium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Flammenf%C3%A4rbungK.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#calcium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/500_mg_calcium_supplements_with_vitamin_D.jpg/320px-500_mg_calcium_supplements_with_vitamin_D.jpg') no-repeat center center;
}

#scandium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Mig-29_on_landing.jpg/320px-Mig-29_on_landing.jpg') no-repeat center center;
    background-size: cover;
}

#titanium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Hochreines_Titan_%2899.999%29_mit_sichtbarer_Kristallstruktur.jpg/320px-Hochreines_Titan_%2899.999%29_mit_sichtbarer_Kristallstruktur.jpg') no-repeat center center;
    color: white;
}

#vanadium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Bluebell_tunicates_Nick_Hobgood.jpg/300px-Bluebell_tunicates_Nick_Hobgood.jpg') no-repeat center center;
    color: white;
}

#chromium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Cut_Ruby.jpg') no-repeat center center;
    background-size: cover;
}

#manganese:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/1e/Lascaux_painting.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iron:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Widmanstatten_hand.jpg/320px-Widmanstatten_hand.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#cobalt:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Early_blue_and_white_ware_circa_1335_Jingdezhen.jpg/193px-Early_blue_and_white_ware_circa_1335_Jingdezhen.jpg') no-repeat center center;
    background-size: cover;
}

#nickel:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/10/Nickel2.jpg') no-repeat center center;
    background-size: cover;
}

#copper:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Royal_Observatory_Edinburgh_East_Tower_2010_cropped.jpg/320px-Royal_Observatory_Edinburgh_East_Tower_2010_cropped.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#zinc:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Macrostructure_of_rolled_and_annealed_brass%3B_magnification_400X.jpg/320px-Macrostructure_of_rolled_and_annealed_brass%3B_magnification_400X.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#gallium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Blue_LED_and_Reflection.jpg/320px-Blue_LED_and_Reflection.jpg') no-repeat center center;
    color: white;
}

#germanium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Pet_Flasche.JPG/319px-Pet_Flasche.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#arsenic:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/6/68/The_Arsenic_Labyrinth_at_Botallack_Mine_-_geograph.org.uk_-_490315.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#selenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Selenium_native.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bromine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/STS028-96-65.jpg/235px-STS028-96-65.jpg') no-repeat center center;
    color: white;
}

#krypton:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/KrTube.jpg/480px-KrTube.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rubidium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Die_Flammenf%C3%A4rbung_des_Rubidium.jpg/180px-Die_Flammenf%C3%A4rbung_des_Rubidium.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#strontium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Viewsonic-crt.png/255px-Viewsonic-crt.png') no-repeat center center;
    background-size: cover;
    color: white;
}

#yttrium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Aperture_Grille.jpg') no-repeat center center;
    color: white;
}

#zirconium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d3/Zirconium_rod.jpg') no-repeat center center;
    background-size: cover;
}

#niobium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Apollo_CSM_lunar_orbit.jpg/303px-Apollo_CSM_lunar_orbit.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#molybdenum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Molly_Hill_molybdenite.JPG/320px-Molly_Hill_molybdenite.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#technetium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Uraniumore.jpg/320px-Uraniumore.jpg') no-repeat center center;
    background-size: cover;
}

#ruthenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Ruthenium_a_half_bar.jpg/320px-Ruthenium_a_half_bar.jpg') no-repeat center center;
    background-size: cover;
}

#rhodium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/7a/Aufgeschnittener_Metall_Katalysator_f%C3%BCr_ein_Auto.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#palladium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/25_rubles_palladium_1989_Ivan_III.jpg/320px-25_rubles_palladium_1989_Ivan_III.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#silver:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Iranian_-_Shallow_Vessel_-_Walters_571816.jpg/221px-Iranian_-_Shallow_Vessel_-_Walters_571816.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#cadmium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/4/41/NiCd_various.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#indium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Indium_wire.jpg/320px-Indium_wire.jpg') no-repeat center center;
    background-size: cover;
}

#tin:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Candlestick_made_of_Tin_by_Royal_Selangor.JPG/320px-Candlestick_made_of_Tin_by_Royal_Selangor.JPG') no-repeat center center;
    background-size: cover;
}

#antimony:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Stibnite.jpg/320px-Stibnite.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tellurium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/NREL_Array.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iodine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/84/IodoAtomico.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#xenon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/50/Xenon-flash.gif') no-repeat center center;
    background-size: cover;
}

#caesium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Pollucite-RoyalOntarioMuseum-Jan18-09.jpg/320px-Pollucite-RoyalOntarioMuseum-Jan18-09.jpg') no-repeat center center;
    background-size: cover;
}

#barium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/2006_Fireworks_1.JPG/230px-2006_Fireworks_1.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#hafnium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Apollo_AS11-40-5866.jpg/238px-Apollo_AS11-40-5866.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tantalum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Tantalite.jpg/265px-Tantalite.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#tungsten:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Gl%C3%BChwedel_brennt_durch.jpg/160px-Gl%C3%BChwedel_brennt_durch.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rhenium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/CFM56_P1220759.jpg/320px-CFM56_P1220759.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#osmium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Osmium_cluster.jpg/261px-Osmium_cluster.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#iridium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Fountain-pen-nib.jpg/320px-Fountain-pen-nib.jpg') no-repeat center center;
    background-size: cover;
}

#platinum:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Platin_loest_sich_in_heissem_Koenigswasser.JPG/320px-Platin_loest_sich_in_heissem_Koenigswasser.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#gold:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Tuthankhamun_Egyptian_Museum.jpg/166px-Tuthankhamun_Egyptian_Museum.jpg') no-repeat center center;
    color: white;
}

#mercury:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d0/Maximum_thermometer_close_up_2.JPG') no-repeat center center;
    background-size: cover;
    color: white;
}

#thallium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Hutchinsonite-131710.jpg') no-repeat center center;
    color: white;
}

#lead:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/9/92/Calcite-Galena-elm56c.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bismuth:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Bi-crystal.jpg/365px-Bi-crystal.jpg') no-repeat center center;
    color: white;
}

#polonium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/c/c2/Fat_man.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#astatine:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/55/Mendelejevs_periodiska_system_1871.png') no-repeat center center;
    background-size: cover;
}

#radon:hover {
    background: url('https://upload.wikimedia.org/wikipedia/en/a/a5/Radon.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#francium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/en/9/92/Fr%2C87.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#radium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Radium-paint.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#rutherfordium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Ernest_Rutherford2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#dubnium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Bundesarchiv_Bild_183-46019-0001%2C_Otto_Hahn.jpg/147px-Bundesarchiv_Bild_183-46019-0001%2C_Otto_Hahn.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#seaborgium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Glenn_Seaborg_-_1964.jpg/194px-Glenn_Seaborg_-_1964.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#bohrium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Niels_Bohr.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}

#hassium:hover {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Deutschland_Lage_von_Hessen.svg/177px-Deutschland_Lage_von_Hessen.svg.png') no-repeat center center;
    background-size: cover;
}

#meitnerium:hover {
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lise_Meitner_%281878-1968%29%2C_lecturing_at_Catholic_University%2C_Washington%2C_D.C.%2C_1946.jpg/164px-Lise_Meitner_%281878-1968%29%2C_lecturing_at_Catholic_University%2C_Washington%2C_D.C.%2C_1946.jpg') no-repeat center center;
    background-size: cover;
    color: white;
}