html {
    background-color: #E6F6FD;
}

body {
    margin: 0;
    /*background-color: #FDF5E6*/
    font-family: 'Open Sans', 'Helvetica';
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #BBB;
}

.ribbon {
    width: 50%;
    position: relative;
    padding: 1em 2em;
    text-align: center;
    font-size: larger;
    margin: 2em auto 3em;
    background: #8DCBE6;
    /*background: linear-gradient(#8DCBE6 5%, #8DCBE6 10%, white 10%, white 15%, #8DCBE6 15%, #8DCBE6 90%, white 90%, white 95%, #8DCBE6 95%, #8DCBE6 100%);*/
}
.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    bottom: -1em;
    border: 1.5em solid #4297BD;
    z-index: -1;
}
.ribbon:before {
    left: -2em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -2em;
    border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #68B1D2 transparent transparent transparent;
    bottom: -1em;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

hr {
    border: none;
    border-bottom: solid 1px black;
}

video {
    display: inline;
}
.arvo {
    font-family: "Arvo";
}
.hanging {
    margin: 0;
    margin-left: 40px;
    text-indent: -40px;
    display: inline-block;
}
.quote {
    width: 60%;
    font-weight: 400;
    font-size: 24px;
    word-wrap: break-word;
    text-align: justify;
    float: right;
}
.titled {
    border-bottom: 1px dotted black;
}
.titledHelp {
    position: absolute;
    right: -1px;
    top: -1px;
    padding-left: 15px;
    padding-right: 16px;
    background-color: #8DCBE6;
    border: 1px solid black;
    border-radius: 0 5px 0 5px;
}
.giant {
    font-size: 6vw;
    font-family: "calibri", "open sans";
}
.outlined {
    display: inline;
    border: #8DCBE6 solid 2px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

#mainui {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

#logo {
    margin-bottom: 20px;
    font-size: 64pt;
    font-family: "Arvo";
    color: #8DCBE6;
    text-shadow: 0px 3px 1px #4297BD;
}

#input {
    padding: 5px;
    width: 60%;
    font-size: 12pt;
}

#help {
    width: 33px;
    padding: 6px;
    margin-left: -1px;
    background-color: white;
    border: #ABADB3 solid 1px;
    font-size: inherit;
    color: black;
}

#helpinfobox {
    width: calc(60% + 4px);
    width: -webkit-calc(60% + 4px);
    margin-top: -2px;
    padding: 20px;
    display: inline-block;
    background-color: #8DCBE6;
    border: #ABADB3 solid 1px;
    text-align: left;
}

#qtcont {
    width: calc(60% + 46px);
    width: -webkit-calc(60% + 46px);
    height: 100%;
    table-layout: fixed;
    position: relative;
    left: -100%;
    margin-top: 10px;
    font-family: "Arvo" "Arial";
    font-size: 13pt;
}
#qtcont tr {
    width: 100%;
}
#qtcont td {
    width: 33%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: #ABADB3 solid 1px;
    background: linear-gradient(
        #4297BD, #4297BD 50%, #8DCBE6, #8DCBE6 50%
    );
    background-size: 100% 200%;
    background-position: 100% 100%;
    transition: all 0.15s ease;
}
#qtcont td:hover {
    background-position: 100% 0;
}

#loading {
    width: 20%;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    left: -webkit-calc(40% - 20px);
    background-color: lightsalmon;
    /* Yoni's Color */ background-color: #8DCBE6;
    box-shadow: 2px 2px 6px #888888;
    border-radius: 5px;
}

.output {
    width: calc(60% + 7px);
    width: -webkit-calc(60% + 7px);
    max-width: 70%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 6px #888;
    overflow: auto;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.75;
    text-rendering: geometricPrecision;
    overflow-x: hidden;
}
.larger {
    font-weight: 400;
    font-size: larger;
}
.smaller {
    font-size: smaller;
}
.weighted {
    font-weight: 400;
}
.italic {
    font-style: italic;
}

#image {
    margin-right: 20px;
    float: left;
    max-width: 40%;
    box-shadow: 2px 2px 6px #888;
}

#map {
    display: block;
    margin: auto;
}

#graph {
    position: relative;
    float: left;
    margin-right: 20px;
}
#graphchair {
    position: relative;
    left: -420px;
    z-index: 1;
    float: left;
    margin-right: -400px;
}

#hours {
    float: left;
    font-size: 64pt;
    font-weight: 400;
}

.minute {
    font-size: 50%;
    vertical-align: text-top;
}

.daymonthday {
    font-size: 16pt;
    vertical-align: text-top;
    float: right;
    margin-left: -30px;
}

#day {
    padding-left: 50px;
}

.weather {
    width: 50%;
    text-align: center;
}
.weathertop {
    font-size: 4vw;
}
.weatherbottom {
    float:left;
    width: 33%;
    border-right: black solid 1px;
}
    
#tictactoe {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: calc(50% - 150px);
    left: -webkit-calc(50% - 150px);
}
table.tictactoe {
    width: 300px;
    height: 300px;
    margin: auto;
    border-collapse: collapse;
}
.tictactoe tr {
    height: 33%;
}
.tictactoe td {
    width: 33%;
    border: #ABADB3 solid 1px;
    font-size: 75px;
    text-align: center;
}
#tictactoecontainer {
    width: 300px;
    margin: 10px auto;
    text-align: center;
}
#tictactoemessage {
    font-weight: bold;
    margin-top: 20px;
}

#pong1 {
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 200px);
    border: #333 inset 5px;
}
#pong2 {
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 200px);
}

#periodict {
    box-shadow: 2px 2px 6px #888;
    margin-top: 20px;
    position: absolute;
    top: 15%;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}

#periodict td {
    border: black solid 1px;
    padding: 5px;
}

td span.larger {
    font-family: "Arvo";
}

.guide div {
    display: inline;
    vertical-align: middle;
}
.filler {
    border: none !important;
}
.thickl {
    border-left: black solid 4px !important;
}
.thickr {
    border-right: black solid 4px !important;
}
.thickt {
    border-top: black solid 4px !important;
}
.lefta {
    text-align: left !important;
}
.tright {
    position: absolute;
    top: 0;
    right: 0;
    font-size: smaller;
}

.elink {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
.ractive {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0,0,0,0.1) 5px, rgba(0,0,0,.1) 10px);
}
.diatomic {
    background-color: #FFD300;
}
.dia {
    color: #FFD300;
    display: block;
    text-align: center;
}
.noble {
    background-color: #B5B5B5;
}
.alkali {
    background-color: #F88379
}
.aEarth {
    background-color: #F8C278;
}
.metalloid {
    background-color: #AEF877;
}

.polyatomic {
    background-color: #EEF877;
}

.poor {
    background-color: #CCC;
}
.transition {
    background-color: #FF91A4;
}
.lanth {
    background-color: #78EEF8;
}
.act {
    background-color: #78F8C2;
}

#element {
    position: fixed;
    top: 5%;
    left: 20%;
    right: 20%;
    padding: 20px;
    background-color: azure;
    border-radius: 5px;
    box-shadow: #888 2px 2px 6px;
    z-index: 2;
}
#elementClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 10px;
    border-radius: 0 5px 0 5px;
}
#blur {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
    opacity: 0.75;
}
#elementPicCont {
    float: left;
    width: calc(49% - 40px);
    width: -webkit-calc(49% - 40px);
    margin-right: 2%;
    padding: 20px;
    box-shadow: 2px 2px 6px #999;
    text-align: center;
}
#elementPicCont i {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Source Sans Pro";
    font-weight: 400;
}
#elementPic {
    width: 100%;
    border: 1px solid #CCC;
}
:not(#elementPicCont) > i {
    font-size: .9em;
    font-style: normal;
}
.caption {
    display: block;
    text-align: center;
    font-family: "Arvo";
}
.caption:nth-of-type(2) {
    margin-top: 10px;
}
.trivia {
    float:left;
    width: 50%;
}
.gray {
    border-bottom-color: gray !important;
}
#elementTab {
    border-collapse: collapse;
    width: 49%;
}
#elementTab tr {
    font-weight: 400;
}
#elementTab td {
    padding-left: 10px;
}
.filled {
    background-color: #ADD8E6;
    font-weight: 300 !important;
}
