html, body {
    margin: 75px 0 0 0;
    background-color: #FDF5E6;
    font-size: 12pt;
    line-height: 1.5em;
    border-collapse: collapse;
}
@media (max-width: 900px) {
    html { font-size: 10pt; }
}
@media (max-width: 400px) {
    html { font-size: 8pt; }
}

hr {
    border: 0;
    margin: 10px;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333 25%, #333 75%, #ccc); 
}

time {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #333;
    font-size: .8rem;
    font-style: italic;
}

footer {
    font-style: italic;
    font-size: .8rem;
    text-indent: 20px;
}
footer:before {
    content: attr(name);
    padding-right: 5px;
    font-weight: 700;
    font-style: normal;
}

sup {
    font-weight: 700;
}

p {
    text-indent: 2em;
}

.bold {
    font-weight: 700;
}
.italics {
    font-style: italic;
}


.banner {
    position: fixed;
    padding-top: 38px;
    padding-bottom: 38px;
    top: 50px;
    left: calc(17.5%);
    width: calc(65% + 20px);
    background-color: #8DCBE6;
    font-family: "Klinic Slab";
    font-size: 5.3rem;
    font-weight: 300;
    margin-left: -1000px;
    border-left: 1000px solid #8DCBE6;
}
.banner:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -76px;
    border-top: 102px solid #8DCBE6;
    border-right: 50px solid #FDF5E6;
}

@media screen and (max-aspect-ratio: 16/9) {
    .banner {
        font-size: 5vmax;
    }
}

.post {
    position: relative;
    clear: both;
    z-index: 0;
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    text-align: left;
    font-family: 'Source Sans Pro';
    font-size: 1rem;
    background-color: white;
    border: 1px solid #CCC;
}

@media screen and (max-aspect-ratio: 16/9) {
    .title {
        font-family: "klinic slab";
        font-size: 2vmax;
        font-weight: 700;
        text-decoration: underline;
    }
}
        

@media screen and (min-aspect-ratio: 16/9) {
    .title {
        position: relative;
        top: -5px;
        left: -25px;
        padding-left: 25px;
        font-family: "Klinic Slab";
        font-size: 1.5rem;
        font-weight: 700;
        z-index: -1;
    }
    .post:nth-child(3n-1) > .title {
        background-color: #E68D9E;
        box-shadow: 0 2px 0 #DC637A;
    }
    .post:nth-child(3n) > .title {
        background-color: #E6D48D;
        box-shadow: 0 2px 0 #DCC463;
    }
    .post:nth-child(3n+1) > .title {
        background-color: #8DCBE6;
        box-shadow: 0 2px 0 #4EAED8;
    }
    .title:after {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 100%;
        width: 15px;
    }
    .post:nth-child(3n-1) > .title:after {
        background-color: #E68D9E;
        border-right: 10px solid white;
        border-top: 15px solid #E68D9E;
        border-bottom: 14px solid #E68D9E;
        box-shadow: -1px 2px 0 #DC637A;
    }
    .post:nth-child(3n) > .title:after {
        background-color: #E6D48D;
        border-right: 10px solid white;
        border-top: 15px solid #E6D48D;
        border-bottom: 14px solid #E6D48D;
        box-shadow: -1px 2px 0 #DCC463;
    }
    .post:nth-child(3n+1) > .title:after {
        background-color: #8DCBE6;
        border-right: 10px solid white;
        border-top: 15px solid #8DCBE6;
        border-bottom: 14px solid #8DCBE6;
        box-shadow: -1px 2px 0 #4EAED8;
    }
}

.caption {
    font-style: italic;
    text-align: right;
}

.shape {
    z-index: 1;
    width: 30%;
    float: left;
    margin-right: 25px;
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    border-radius: 100%;
}

.right {
    float: right;
    margin: 0 0 0 15px;
}

#tardigrade {
    float: right;
    width: 30%;
    border: solid transparent 5px;
    border-radius: 100%;
    -webkit-shape-outside: border-box;
    shape-outside: border-box;
}

.fork {
    width: 100%;
}


.fork {
    float: right;
    width: 30.6%;
}

.fork:first-of-type {
    float: none;
    width: 69.4%;
}