html {
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    
    font-family: 'source-sans-pro';
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

audio {
    visibility: hidden;
}

.history {
    width: 40%;
    height: calc(100vh - 40px);
    background: #FFEFE5;
    padding: 20px;
    margin: auto;
    
    overflow: auto;
    box-sizing: border-box;
}

.dialogue {
    display: inline-block;
    max-width: 80%;
    background: white;
    margin-bottom: 10px;
    padding: 5px;
}

.computer {
    text-align: left;
    border-radius: 5px 5px 5px 0;
}
.computer:first-letter {
    text-transform: capitalize;
}

.user {
    float: right;
    background: #FFCFB2;
    text-align: right;
    border-radius: 5px 5px 0 5px;
    word-wrap: break-word;
}

.input {
    position: absolute;
    bottom: 0;
    left: 30%;
    height: 40px;
    width: 40%;
    padding: 0;
    margin: 0;
    
    /*box-shadow: 0 -2px 1px -1px #B2724C;*/
    box-sizing: border-box;
    z-index: 1;
}

[name=input] {
    position: relative;
    height: 100%;
    width: calc(100% - 50px);
    float: left;
    
    margin: 0;
    padding: 0 5px 0 10px;
    box-shadow: none;
    border-radius: none;
    border: none;
    border-bottom: 5px solid #FFA570;
    
    -webkit-transition: border 0.25s;
    transition: 0.25s;
    
    box-sizing: border-box;
}
/*.input:after {
    content: '';
    width: 5px;
    height: 100%;
    background: #FFA570;
    position: absolute;
    bottom: 0;
}*/

[name=input]:focus {
    border-bottom: 5px solid #FF5F00;
    //background: #F7F6F5;
    outline: none;
}

[name=submit] {
    height: 100%;
    width: 50px;
    margin: 0;
    
    background: #FF5F00;
    color: #FFDFCC;
    border: none;
    border-bottom: 5px solid #CC4C00;
    box-shadow: none;
}
[name=submit]:active {
    box-shadow: inset 0 4px 5px #CC4C00;
    border-bottom-width: 2px;
}